body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #7FB3D5;
}

.magic{
    background-color: #EBF5FB;
}

.margim{
    padding: 50px;
}

.compras{
    background-color: #D6EAF8;
}

.main-footer{
    position: relative;
    padding: 10px;
}

.footer-section{
    display: inline-block;
    width: 32%;
    min-width: 230px;
    vertical-align: top;
    background-color: #9BD4FC;
}